<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zapis do Wydarzenia</title>

</head>

<body>
    <form action="/events/create" method="post">
        <label for="name-and-surname">Imię i Nazwisko</label>
        <input type="text" name="fullName" id="name-and-surname" required />

        <label for="event">Wydarzenie</label>
        <select name="event" id="event" required>
            <option value="none" selected hidden>---</option>
            <option value="front-end-developer">front-end-developer</option>
            <option value="back-end-developer">back-end-developer</option>
            <option value="full-stack-developer">full-stack-developer</option>
        </select>
        <label for="city">Miasto</label>
        <select name="city" id="city" required>
            <option value="none" selected hidden>---</option>
            <option value="warsaw">Warszawa</option>
            <option value="crocow">Kraków</option>
            <option value="wroclaw">Wrocław</option>
        </select>
        <button type="submit" id="subbutton">
            Zapisz na szkolenie
        </button>
    </form>
    <table border="1">
        <thead>
            <tr>
                <th>#</th>
                <th>Imię i Nazwisko</th>
                <th>Wydarzenie</th>
                <th>Miasto</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {{#each allEvents}}
            <tr>
                <td>{{ plusOne @index}}</td>
                <td>{{this.fullName}}</td>
                <td>{{this.event}}</td>
                <td>{{this.city}}</td>
                <td>
                    <form action="/events/{{this._id}}?_method=DELETE" method="POST"
                        onsubmit="return confirm('Czy na pewno chcesz usunąć to wydarzenie?');">
                        <button type="submit">Usuń</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</body>

</html>